<div class="c-footer row">
  <div class="col-xs-12 col-sm-4">
    <h4>Wonder productions</h4>
    <a class="c-link c-link--secondary footer__item" href="mailto:info@wonderproductions.nl">info@wonderproductions.nl</a>
    <img class="footer__logo" src="{{ site.theme.link }}/static/images/logo-footer.svg" />
  </div>
  <div class="col-xs-12 col-sm-4">
    <h4>Navigatie</h4>
    <ul class="footer__list">
      {% for item in footernavigation.items %}
        <li class="list__item {{ item.classes|join(' ') }}">
          <a class="item__link" href="{{ item.link }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h4>Werkwijze</h4>
    <ul class="footer__list">
      {% for item in footerprocedure.items %}
        <li class="list__item {{ item.classes|join(' ') }}">
          <a class="item__link" href="{{ item.link }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-xs-2">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <span class="footer__link">Wonder Productions - Alle rechten voorbehouden</span>
  </div>
  <div class="col-xs-12 col-sm-4 footer__rights">
    <a href="" class="footer__link">Cookiebeleid</a>
    <a href="" class="footer__link">Privacy policy</a>
  </div>
</div> 