<section id="about" class="c-about" style="cursor: url('{{ site.theme.link }}/static/images/cursor.png') 25 25, auto;">
  <div class="about__inner" style="border-image: url({{ site.theme.link }}/static/images/border.png) 30 / 30px round;">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8">
        <h2 class="c-title about__title fade-in">{{ post.about_title }}<span class="title__icon"><img src="{{ site.theme.link }}/static/images/sparkle-sand.svg"></span></h2>
        <p class="about__description fade-in">{{ post.about_text }}</p>
      </div>
    </div>
  </div>
</section>